<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/password-reset" method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zresetuj swoje hasło</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        - var formControls = [{ type: 'email', id: 'email-reset', label: 'Twój adres email', name: 'email' }];
        include formControls.pug
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Zmień hasło</button>
      </div>
    </form>
  </div>
</div>
